<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<div class=table-container><table>
  <tr>
  <th>Artist name</th>
  <th>Watch/Unwatch</th>
  </tr>
  <tr>
    <td><a href="/profile/artists/artist/1e0bb3ab006e8f93efdfc385c1e13722"> Jill </a></td>
    <td><a href="/profile/artists/artist/1e0bb3ab006e8f93efdfc385c1e13722/unwatch"> Unwatch </a></td>
  </tr>
</table></div>

<div class=table-container><table>
  <tr>
  <td>Work name</td>
  <td>Like/Unlike/td>
  </tr>
  <tr>
    <td><a href="/profile/works/work/ad8a727b09600707339c4a4531208b8"> Jill debut </a></td>
    <td><a href="/profile/works/work/ad8a727b09600707339c4a4531208b8/withdraw"> Like </a></td>
  </tr>
  <tr>
    <td><a href="/profile/works/work/408661a97a79ce10a01ff23f5cc64b1a"> Dream </a></td>
    <td><a href="/profile/works/work/408661a97a79ce10a01ff23f5cc64b1a/withdraw"> Unlike </a></td>
  </tr>
</table></div>

<a href="/home"> Back home </a>

<p> Signed in as <%= userName %> <br> <a href="/signout"> Sign out </a> </p>
<p> Started browsing at <%= startTime %> </p>

</html>