<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<a href="/home"> Get back </a>
<a href="/profile/users/user/58a9fce14954d73241cce675d68d378a/ban/submit"> Confirm banning user </a>

<p> Signed in as <%= userName %> <br> <a href="/signout"> Sign out </a> </p>
<p> Started browsing at <%= startTime %> </p>

</html>