<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<a href="/delete/submit"><button class=""delete-update>Confirm deleting account</button> </a>
<br>
<a href="/home"> Get back </a>


<p> Started browsing at <%= startTime %> </p>

</html>