<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<form action="/delete/submit" method="post">
  <input type="submit" value="Confirm deleting account" class="delete-update">
</form>
<br>
<a href="/home"> Get back </a>


<p> Started browsing at <%= startTime %> </p>

</html>