<table>
  <tr> <% for (c of ['Columns,Value']) { %>
  <td> <%= c %> </td> <% } %> </tr>
  <% for (kv of Object.entries(entity)) { %> <tr>
    <td> kv[0] </td>
    <td> kv[1] </td>
  </tr> <% } %>

</table>