<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title><%= userName%> sand box</title>
</head>


<div> Error!! </div>
<div class=table-container><table>
  <tr>Details</tr>
  <tr>
    <td><%= error  %></td>
  </tr>
</table></div>
<a href="/home"> Get back </a>

<%  try {  (userName) ; %>
  <p> Signed as <%= userName %> </p>
  <%  }
  catch(e) { %>
  <p> Not signed in </p>
  <%}
  try {  (startTime) ; %>
  <p> Started browsing at <%= startTime  %> </p>
  <%  }
  catch(e) { %>
  <p> Started browsing now </p>
  <%  } %>

</html>