<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<form action="/home/works/firstSubmit/submit" method="post">
  <label for="workName">Work Name:</label><br>
  <input id="workName"" type="text" name="workName"><br>
  <input type="submit" value="Submit" class="insert">
</form>

<a href="/home"> Home </a>

<p> Signed in as <%= userName %> <br> <a href="/signout"> Sign out </a> </p>
<p> Started browsing at <%= startTime %> </p>


</html>