<h1>Welcome</h1>
<% if (landingPage.signinForm) { %>
<p>Please sign in </p>
<%- include('Form',landingPage.signinForm) %>
<p>Do not not hava an account <a>
    <href= /landing/signup />Sign up
  </a></p>
<% } else if (landingPage.signupForm) { %>
<p>Please sign up</p>
<%- include('Form',landingPage.signupForm) %>
<% } else { %>
<p>Never</p>
<% } %>