<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<div>
  <p>More artists</p>
  <div class=table-container><table>
    <tr>
    <th>Artist name</th>
    </tr>
    <% for(r of see_more_artists.rows) { %>
      <tr>
        <td><a href="/profile/artists/artist/<%= r.artist.artist_id %>"> <%= r.artist.user_name %></a></td>
      </tr>
      <% } %>
  </table></div>
  <a href="/home/artists/more"> <button class="view"> See more </button> </a>
</div>

<a href="/home"> Back home </a>
<a href="/signout"> Sign out </a>

<p> Signed in as <%= userName %> <br> <a href="/signout"> Sign out </a> </p>
<p> Started browsing at <%= startTime %> </p>

</html>