<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<div>
  <p>More watchers</p>
  <div class=table-container><table>
    <tr>
    <th>User name</th>
    <th>Ban</th>
    </tr>
    <tr>
      <td><a href="/profile/users/user/095a719c0b977dafed9eff3e5efdfc54"> Bob </a></td>
      <td><a href="/profile/users/user/095a719c0b977dafed9eff3e5efdfc54/ban"> X </a></td>
    </tr>
    <tr>
      <td><a href="/profile/users/user/58a9fce14954d73241cce675d68d378a"> Joan </a></td>
      <td><a href="/profile/users/user/58a9fce14954d73241cce675d68d378a/ban"> X </a></td>
    </tr>
  </table></div>
  <a href="/home/users/more"> <button class="view"> See more </button> </a>
</div>

<a href="/home"> Back home </a>
<a href="/signout"> Sign out </a>

<p> Signed in as <%= userName %> <br> <a href="/signout"> Sign out </a> </p>
<p> Started browsing at <%= startTime %> </p>

</html>