<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<a href="/signout/submit"> <button class="view">Confirm signing out </button></a>
<br>
<a href="/delete"><button class="delete-update">Delete account</button> </a>
<br>
<a href="/home"> Get back </a>

<p> Started browsing at <%= startTime %> </p>

</html>