<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<a href="/home"> Get back </a>
<a href="/signout/submit"> Confirm signing out </a>
<a href="/delete"> Delete account </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>