<div class=table-container><table>
  <tr> <% for (c of fields) { %>
  <td> <%= c %> </td> <% } %> </tr>
  <% for (r of rows) { %> <tr> <% for (rr of r) { let cell = rr %>
    <td> <%- include('Cell.js',cell) %> </td> <% } %>
  </tr> <% } %>
</table></div>