<%- include('header.ejs');%>

<body><%- include('table.ejs',artistsData);%
<p><button class="view"> See more </button></p>
<%- include('table.ejs',worksData);%>
  <p><button class="view"> See more </button></p>
  <p><a href="/">Submit yours ?</a></p>
  <p><a href="/">Home</a></p>
  <p><a href="/logout">Logout</a></p>
</body>

<%- include('footer.ejs',footer);%>