<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<div class=table-container><table>
  <tr>
  <td>User name</td>
  <td>Ban</td>
  </tr>
  <tr>
    <td><a href="/profile/users/user/095a719c0b977dafed9eff3e5efdfc54"> Bob </a></td>
    <td><a href="/profile/users/user/095a719c0b977dafed9eff3e5efdfc54/ban"> X </a></td>
  </tr>
</table></div>

<a href="/home"> Back home </a>

<p> Signed in as <%= userName %> <br> <a href="/signout"> Sign out </a> </p>
<p> Started browsing at <%= startTime %> </p>

</html>