<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>


<form action="/profile/works/work/<%= params.artistId %>/<%= params.workId %>/withdraw/submit" method="post">
  <input type="submit" value="Confirm withdrawing" class="delete-update">
</form>
<br>
<a href="/home"> Get back </a>


<p> Signed in as <%= userName %> <br> <a href="/signout"> Sign out </a> </p>
<p> Started browsing at <%= startTime %> </p>

</html>