<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<a href="/home"> Get back </a>
<a href="/profile/works/work/408661a97a79ce10a01ff23f5cc64b1a/withdraw/submit"> Confirm unliking work </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>