<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<div class=table-container><table>
  <tr>
  <td>Work name</td>
  <td>Withdraw</td>
  <tr>
    <td><a href="/profile/works/work/408661a97a79ce10a01ff23f5cc64b1a"> Dream </a></td>
    <td><a href="/profile/works/work/408661a97a79ce10a01ff23f5cc64b1a/withdraw"> X </a></td>
  </tr>
</table></div>

<a href="/home"> Back home </a>
<a href="/signout"> Sign out </a>

<p> Signed in as <%= userName %> <br> <a href="/signout"> Sign out </a> </p>
<p> Started browsing at <%= startTime %> </p>

</html>