<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/index.css">
  <title>Ju's sand box</title>
</head>

<table>
  <th>
  <td>Artist name</td>
  <td>Unwatch</td>
  </th>
  <tr>
    <td><a href="/mock/profile/artists/artist"> Jill </a></td>
    <td><a href="/mock/profile/artists/artist/unwatch"> X </a></td>
  </tr>
</table>

<table>
  <th>
  <td>Work name</td>
  <td>Withdraw</td>
  </th>
  <tr>
    <td><a href="/mock/profile/works/work"> Jill debut </a></td>
    <td><a href="/mock/profile/works/work/withdraw"> X </a></td>
  </tr>
  <tr>
    <td><a href="/mock/profile/works/work"> Dream </a></td>
    <td><a href="/mock/profile/works/work/withdraw"> X </a></td>
  </tr>
</table>

<a href="/mock/home"> Back home </a>
<a href="/mock/signout"> Sign out </a>

<p> Signed as Ju </p>
<p> Started browsing today at 1pm </p>

</html>