<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Ju's sand box</title>
</head>


<div>
  <h1>My watchers</h1>
  <div class=table-container><table>
    <tr>
    <td>User name</td>
    <td>Ban</td>
    </tr>
    <tr>
      <td><a href="/profile/users/user"> Bob </a></td>
      <td><a href="/profile/users/user/ban"> X </a></td>
    </tr>
    <tr>
      <td><a href="/profile/users/user"> Joan </a></td>
      <td><a href="/profile/users/user/ban"> X </a></td>
    </tr>
  </table></div>
  <a href="/home"> <button class="view"> Reshuffle </button> </a> 
  <a href="/home/users/more"> <button class="view"> See more </button> </a>
</div>

<div>
  <h1>My works</h1>
  <div class=table-container><table>
    <tr>
    <td>Work name</td>
    <td>Withdraw</td>
    </tr>
    <tr>
      <td><a href="/profile/works/work"> Jill debut </a></td>
      <td><a href="/profile/works/work/withdraw"> X </a></td>
    </tr>
    <tr>
      <td><a href="/profile/works/work"> Dream </a></td>
      <td><a href="/profile/works/work/withdraw"> X </a></td>
    </tr>
  </table></div>
  <a href="/home"> <button class="view"> Reshuffle </button> </a> 
  <a href="/home/works/more"> <button class="view"> See more </button> </a>
  <a href="/home/work/submit"> Submit more </a>
</div>

<div>
    <h1>My watched artists</h1>
  <div class=table-container><table>
    <tr>
    <th>Artist name</th>
    <th>Watch/Unwatch</th>
    </tr>
    <tr>
      <td><a href="/profile/artists/artist"> Jill </a></td>
      <td><a href="/profile/artists/artist/unwatch"> Unwatch </a></td>
    </tr>
    <tr>
      <td><a href="/profile/artists/artist"> Joan </a></td>
      <td><a href="/profile/artists/artist/unwatch"> Unwatch </a></td>
    </tr>
  </table></div>
  <a href="/home"> <button class="view"> Reshuffle </button> </a> 
  <a href="/home/artists/more"> <button class="view"> See more </button> </a>
</div>

<div>
    <h1>My liked works</h1>
  <div class=table-container><table>
    <tr>
    <td>Work name</td>
    <th>Artist name</th>
    <th>Like/Unlike</th>
    </tr>
    <tr>
      <td><a href="/profile/works/work"> Jill debut </a></td>
      <td><a href="/profile/artists/artist"> Jill </a></td>
      <td><a href="/profile/works/work/unlike"> Unlike </a></td>
    </tr>
    <tr>
      <td><a href="/profile/works/work"> Joan masterpiece </a></td>
      <td><a href="/profile/artists/artist"> Joan </a></td>
      <td><a href="/profile/works/work/unlike"> Unlike </a></td>
    </tr>
  </table></div>
  <a href="/home"> <button class="view"> Reshuffle </button> </a> 
  <a href="/home/works/more"> <button class="view"> See more </button> </a>
</div>


<p> Signed in as Ju </p>
<p> Started browsing today at 1pm </p>

</html>