<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Ju's sand box</title>
</head>

<a href="/home"> Get back </a>
<a href="/profile/artists/user/ban/submit"> Confirm banning user </a>

<p> Signed as Ju </p>
<p> Started browsing today at 1pm </p>

</html>