<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/index.css">
  <title>Ju's sand box</title>
</head>

<a href="/home"> Get back </a>
<a href="/delete/submit"> Confirm deleting account </a>

<p> Signed as Ju </p>
<p> Started browsing today at 1pm </p>

</html>