<html>

<head>
  <link rel="stylesheet" href="/css/index.css">
  <title>Ju's sand box</title>
</head>


<div> Error!! </div>
<a href="/mock/home"> Get back </a>


<p> Signed as Ju </p>
<p> Started browsing today at 1pm </p>

</html>