<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/index.css">
  <title>Ju's sand box</title>
</head>

<a href="/landing/signin"> Sign in </a>
<a href="/landing/signup"> Sign up </a>

<p> Not signed in </p>
<p> Started browsing now </p>

</html>