<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Ju's sand box</title>
</head>

<div>
  <p>More artists</p>
  <div class=table-container><table>
    <tr>
    <th>Artist name</th>
    <th>Watch/Unwatch</th>
    </tr>
    <tr>
      <td><a href="/profile/artists/artist"> Jill </a></td>
      <td><a href="/profile/artists/artist/unwatch"> Watch </a></td>
    </tr>
    <tr>
      <td><a href="/profile/artists/artist"> Joan </a></td>
      <td><a href="/profile/artists/artist/unwatch"> Unwatch </a></td>
    </tr>
  </table></div>
  <a href="/home/artists/more"> <button class="view"> See more </button> </a>
</div>

<a href="/home"> Back home </a>
<a href="/signout"> Sign out </a>

<p> Signed as Ju </p>
<p> Started browsing today at 1pm </p>

</html>