<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
  <title>Ju's sand box</title>
</head>

<div>
  <p>Mpre watchers</p>
  <table>
    <th>
    <td>User name</td>
    <td>Ban</td>
    </th>
    <tr>
      <td><a href="/profile/users/user"> Bob </a></td>
      <td><a href="/profile/artists/user/ban"> X </a></td>
    </tr>
    <tr>
      <td><a href="/profile/users/user"> Joan </a></td>
      <td><a href="/profile/users/user/ban"> X </a></td>
    </tr>
  </table>
  <a href="/home/users/more"> See more </a>
</div>

<a href="/home"> Back home </a>
<a href="/signout"> Sign out </a>

<p> Signed as Ju </p>
<p> Started browsing today at 1pm </p>

</html>