<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
  <title>Ju's sand box</title>
</head>

<div>
  <p>More artists</p>
  <table>
    <th>
    <td>Artist name</td>
    <td>Watch/Unwatch</td>
    </th>
    <tr>
      <td><a href="/profile/artists/artist"> Jill </a></td>
      <td><a href="/profile/artists/artist/unwatch"> Watch </a></td>
    </tr>
    <tr>
      <td><a href="/profile/artists/artist"> Joan </a></td>
      <td><a href="/profile/artists/artist/unwatch"> Unwatch </a></td>
    </tr>
  </table>
  <a href="/home/artists/more"> See more </a>
</div>

<a href="/home"> Back home </a>
<a href="/signout"> Sign out </a>

<p> Signed as Ju </p>
<p> Started browsing today at 1pm </p>

</html>