<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/index.css">
  <title>Ju's sand box</title>
</head>

<div>
    <p>More works</p>
    <table>
      <th>
      <td>Work name</td>
      <td>Artist name</td>
      <td>Like/Unlike</td>
      </th>
      <tr>
        <td><a href="/profile/works/work"> Jill debut </a></td>
        <td><a href="/profile/artists/artist"> Jill </a></td>
        <td><a href="/profile/works/work/unlike"> Like </a></td>
      </tr>
      <tr>
        <td><a href="/profile/works/work"> Joan masterpiece </a></td>
        <td><a href="/profile/artists/artist"> Joan </a></td>
        <td><a href="/profile/works/work/unlike"> Unlike </a></td>
      </tr>
    </table>
    <a href="/home/works/more"> See more </a>
  </div>

<a href="/home"> Back home </a>
<a href="/signout"> Sign out </a>

<p> Signed as Ju </p>
<p> Started browsing today at 1pm </p>

</html>