<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
  <title>Ju's sand box</title>
</head>

<form action="/landing/signup/submit" method="post">
  <label for="userName">User Name:</label><br>
  <input id="userName" type="text" name="userName"><br>
  <label for="pwd">Password:</label><br>
  <input id="pwd" type="password" name="pwd"><br>
  <label for="pwd">Confirm password:</label><br>
  <input id="pwd" type="password" name="pwd"><br>
  <input type="submit" value="Submit">
</form>

<a href="/landing/signin"> Sign up </a>

<p> Not signed in </p>
<p> Started browsing now </p>

</html>