<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Ju's sand box</title>
</head>

<form action="/landing/signin/submit" method="post">
  <label for="userName">User Name:</label><br>
  <input id="userName" type="text" name="userName"><br>
  <label for="pwd">Password:</label><br>
  <input id="pwd" type="password" name="pwd"><br>
  <input type="submit" value="Submit" class="insert">
</form>

<a href="/landing/signup"> Sign up </a>

<p> Not signed in </p>
<p> Started browsing now </p>

</html>