<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Ju's sand box</title>
</head>

<table>
  <tr>
  <td>Work name</td>
  <td>Withdraw</td>
  </tr>
  <tr>
    <td><a href="/profile/works/work"> Jill debut </a></td>
    <td><a href="/profile/works/work/withdraw"> X </a></td>
  </tr>
</table>

<a href="/home"> Back home </a>
<a href="/signout"> Sign out </a>

<p> Signed as Ju </p>
<p> Started browsing today at 1pm </p>

</html>