<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
  <title>Ju's sand box</title>
</head>

<table>
  <th>
  <td>Work name</td>
  <td>Withdraw</td>
  </th>
  <tr>
    <td><a href="/profile/works/work"> Jill debut </a></td>
    <td><a href="/profile/works/work/withdraw"> X </a></td>
  </tr>
</table>

<a href="/home"> Back home </a>
<a href="/signout"> Sign out </a>

<p> Signed as Ju </p>
<p> Started browsing today at 1pm </p>

</html>