<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sand box</title>
</head>


<div>
  <h1>My watchers</h1>
  <table>
    <tr>
    <td>User name</td>
    <td>Ban</td>
    </tr>
    <tr>
      <td><a href="/parametrized/profile/users/user/095a719c0b977dafed9eff3e5efdfc54"> Bob </a></td>
      <td><a href="/parametrized/profile/users/user/095a719c0b977dafed9eff3e5efdfc54/ban"> X </a></td>
    </tr>
    <tr>
      <td><a href="/parametrized/profile/users/user/58a9fce14954d73241cce675d68d378a"> Joan </a></td>
      <td><a href="/parametrized/profile/users/user/58a9fce14954d73241cce675d68d378a/ban"> X </a></td>
    </tr>
  </table>
  <a href="/parametrized/home"> <button> Reshuffle </button> </a> 
  <a href="/parametrized/home/users/more"> <button> See more </button> </a>
</div>

<div>
  <h1>My works</h1>
  <table>
    <tr>
    <th>Work name</th>
    <th>Withdraw</th>
    </tr>
    <tr>
      <td><a href="/parametrized/profile/works/work/ad8a727b09600707339c4a4531208b8"> Jill debut </a></td>
      <td><a href="/parametrized/profile/works/work/ad8a727b09600707339c4a4531208b8/withdraw"> X </a></td>
    </tr>
    <tr>
      <td><a href="/parametrized/profile/works/work/408661a97a79ce10a01ff23f5cc64b1a"> Dream </a></td>
      <td><a href="/parametrized/profile/works/work/408661a97a79ce10a01ff23f5cc64b1a/withdraw"> X </a></td>
    </tr>
  </table>
  <a href="/parametrized/home"> <button> Reshuffle </button> </a> 
  <a href="/parametrized/home/works/more"> <button> See more </button> </a> 
  <a href="/parametrized/home/works/submit"> <button>Submit more</button> </a>
</div>

<div>
    <h1>My watched artists</h1>
  <table>
    <tr>
    <th>Artist name</th>
    <th>Watch/Unwatch</th>
    </tr>
    <tr>
      <td><a href="/parametrized/profile/artists/artist/61d6184592315a39b8f8bb9553700436"> Joan </a></td>
      <td><a href="/parametrized/profile/artists/artist/61d6184592315a39b8f8bb9553700436/unwatch"> Unwatch </a></td>
    </tr>
  </table>
  <a href="/parametrized/home"> <button> Reshuffle </button> </a> 
  <a href="/parametrized/home/artists/more"> <button> See more </button> </a>
</div>

<div>
    <h1>My liked works</h1>
  <table>
    <tr>
    <td>Work name</td>
    <th>Artist name</th>
    <th>Like/Unlike</th>
    </tr>
    <tr>
      <td><a href="/parametrized/profile/works/work"> Joan masterpiece </a></td>
      <td><a href="/parametrized/profile/artists/artist/61d6184592315a39b8f8bb9553700436"> Joan </a></td>
      <td><a href="/parametrized/profile/works/work/ad8a727b09600707339c4a4531208b8/unlike"> Unlike </a></td>
    </tr>
  </table>
  <a href="/parametrized/home"> <button> Reshuffle </button> </a> 
  <a href="/parametrized/home/works/more"> <button> See more </button> </a>
</div>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>