<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/index.css">
  <title><%= userName %> sand box</title>
</head>

<table>
  <th>
  <td>Artist name</td>
  <td>Watch/Unwatch</td>
  </th>
  <tr>
    <td><a href="/parametrized/profile/artists/artist?artistId=1e0bb3ab006e8f93efdfc385c1e13722"> Jill </a></td>
    <td><a href="/parametrized/profile/artists/artist?artistId=1e0bb3ab006e8f93efdfc385c1e13722/unwatch"> Unwatch </a></td>
  </tr>
</table>

<table>
  <th>
  <td>Work name</td>
  <td>Like/Unlike/td>
  </th>
  <tr>
    <td><a href="/parametrized/profile/works/work?workID=aad8a727b09600707339c4a4531208b8"> Jill debut </a></td>
    <td><a href="/parametrized/profile/myworks/workworkID=aad8a727b09600707339c4a4531208b8/withdraw"> Like </a></td>
  </tr>
  <tr>
    <td><a href="/parametrized/profile/works/work?workID=408661a97a79ce10a01ff23f5cc64b1a"> Dream </a></td>
    <td><a href="/parametrized/profile/myworks/work?workID=408661a97a79ce10a01ff23f5cc64b1a/withdraw"> Unlike </a></td>
  </tr>
</table>

<a href="/parametrized/home"> Back home </a>
<a href="/parametrized/signout"> Sign out </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>