<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sand box</title>
</head>

<a href="/parametrized/home"> Get back </a>
<a href="/parametrized/profile/artists/user?userId=58a9fce14954d73241cce675d68d378a/ban/submit"> Confirm banning user </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>