<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title><%= userName%> sand box</title>
</head>


<div> Error!! </div>
<table>
  <tr>Details</tr>
  <tr>
    <td><%= error  %></td>
  </tr>
</table>
<a href="/parametrized/home"> Get back </a>

<%  if (userName) {  %>
  <p> Signed as <%= userName %> </p>
  <%  }
  else { %>
  <p> Not signed in </p>
  <%}
  if (startTime) { %>
  <p> Started browsing at <%= startTime  %> </p>
  <%  }
  else { %>
  <p> Started browsing now </p>
  <%  } %>

</html>