<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
  <title><%= userName %> sand box</title>
</head>

<a href="/parametrized/landing/signin"> Sign in </a>
<a href="/parametrized/landing/signup"> Sign up </a>

<%  if (userName) {  %>
<p> Signed as <%= userName %> </p>
<%  }
else { %>
<p> Not signed in </p>
<%}
if (startTime) { %>
<p> Started browsing at <%= startTime  %> </p>
<%  }
else { %>
<p> Started browsing now </p>
<%  } %>


</html>