<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sand box</title>
</head>

<div>
  <p>More artists</p>
  <table>
    <tr>
    <th>Artist name</th>
    <th>Watch/Unwatch</th>
    </tr>
    <tr>
      <td><a href="/parametrized/profile/artists/artist/1e0bb3ab006e8f93efdfc385c1e13722"> Jill </a></td>
      <td><a href="/parametrized/profile/artists/artist/1e0bb3ab006e8f93efdfc385c1e13722/unwatch"> Watch </a></td>
    </tr> 
    <tr>
      <td><a href="/parametrized/profile/artists/artist/61d6184592315a39b8f8bb9553700436"> Joan </a></td>
      <td><a href="/parametrized/profile/artists/artist/61d6184592315a39b8f8bb9553700436/unwatch"> Watch </a></td>
    </tr>
  </table>
  <a href="/parametrized/home/artists/more"> <button> See more </button> </a>
</div>

<a href="/parametrized/home"> Back home </a>
<a href="/parametrized/signout"> Sign out </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>