<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sand box</title>
</head>

<div>
  <p>More watchers</p>
  <table>
    <tr>
    <th>User name</th>
    <th>Ban</th>
    </tr>
    <tr>
      <td><a href="/parametrized/profile/users/user/095a719c0b977dafed9eff3e5efdfc54"> Bob </a></td>
      <td><a href="/parametrized/profile/artists/user/095a719c0b977dafed9eff3e5efdfc54/ban"> X </a></td>
    </tr>
    <tr>
      <td><a href="/parametrized/profile/users/user/58a9fce14954d73241cce675d68d378a"> Joan </a></td>
      <td><a href="/parametrized/profile/artists/user/58a9fce14954d73241cce675d68d378a/ban"> X </a></td>
    </tr>
  </table>
  <a href="/parametrized/home/users/more"> <button> See more </button> </a>
</div>

<a href="/parametrized/home"> Back home </a>
<a href="/parametrized/signout"> Sign out </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>