<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<div>
    <p>More works</p>
    <table>
      <tr>
      <td>Work name</td>
      <th>Artist name</th>
      <th>Like/Unlike</th>
      </tr>
      <tr>
        <td><a href="/parametrized/profile/works/work"> Jill debut </a></td>
        <td><a href="/parametrized/profile/artists/artist"> Jill </a></td>
        <td><a href="/parametrized/profile/works/work/unlike"> Like </a></td>
      </tr>
      <tr>
        <td><a href="/parametrized/profile/works/work"> Joan masterpiece </a></td>
        <td><a href="/parametrized/profile/artists/artist"> Joan </a></td>
        <td><a href="/parametrized/profile/works/work/unlike"> Like </a></td>
      </tr>
    </table>
    <a href="/parametrized/home/works/more"> <button> See more </button> </a>
  </div>

<a href="/parametrized/home"> Back home </a>
<a href="/parametrized/signout"> Sign out </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>