<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/index.css">
  <title><%= userName %> sand box</title>
</head>

<div>
    <p>More works</p>
    <table>
      <th>
      <td>Work name</td>
      <td>Artist name</td>
      <td>Like/Unlike</td>
      </th>
      <tr>
        <td><a href="/parametrized/profile/works/work"> Jill debut </a></td>
        <td><a href="/parametrized/profile/artists/artist"> Jill </a></td>
        <td><a href="/parametrized/profile/works/work/unlike"> Like </a></td>
      </tr>
      <tr>
        <td><a href="/parametrized/profile/works/work"> Joan masterpiece </a></td>
        <td><a href="/parametrized/profile/artists/artist"> Joan </a></td>
        <td><a href="/parametrized/profile/works/work/unlike"> Like </a></td>
      </tr>
    </table>
    <a href="/parametrized/home/works/more"> See more </a>
  </div>

<a href="/parametrized/home"> Back home </a>
<a href="/parametrized/signout"> Sign out </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>