<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
  <title><%= userName %> sand box</title>
</head>

<div>
  <p>More artists</p>
  <table>
    <th>
    <td>Artist name</td>
    <td>Watch/Unwatch</td>
    </th>
    <tr>
      <td><a href="/parametrized/profile/artists/artist?artistId=1e0bb3ab006e8f93efdfc385c1e13722"> Jill </a></td>
      <td><a href="/parametrized/profile/artists/artist?artistId=1e0bb3ab006e8f93efdfc385c1e13722/unwatch"> Watch </a></td>
    </tr> 
    <tr>
      <td><a href="/parametrized/profile/artists/artist?artistId=61d6184592315a39b8f8bb9553700436"> Joan </a></td>
      <td><a href="/parametrized/profile/artists/artist?artistId=61d6184592315a39b8f8bb9553700436/unwatch"> Watch </a></td>
    </tr>
  </table>
  <a href="/parametrized/home/artists/more"> See more </a>
</div>

<a href="/parametrized/home"> Back home </a>
<a href="/parametrized/signout"> Sign out </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>