<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sand box</title>
</head>

<form action="/parametrized/home/works/submit/submit" method="post">
  <label for="workName">Work Name:</label><br>
  <input id="workName"" type="text" name="workName"><br>
  <input type="submit" value="Submit">
</form>

<a href="/parametrized/home"> Home </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>


</html>