<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sand box</title>
</head>

<a href="/parametrized/home"> Get back </a>
<a href="/parametrized/profile/works/work?workId=aad8a727b09600707339c4a4531208b8/unlike"> Confirm unliking work </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>