<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sand box</title>
</head>

<a href="/parametrized/home"> Get back </a>
<a href="/parametrized/profile/artists/artist?artisId=1e0bb3ab006e8f93efdfc385c1e13722/unlike"> Confirm unliking work </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>