<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/index.css">
  <title><%= userName %> sand box</title>
</head>

<div>
  <p>My watched artists</p>
  <table>
    <th>
    <td>Artist name</td>
    <td>Unwatch</td>
    </th>
    <tr>
      <td><a href="/parametrized/profile/artists/artist"> Jill </a></td>
      <td><a href="/parametrized/profile/artists/artist/unwatch"> X </a></td>
    </tr>
    <tr>
      <td><a href="/parametrized/profile/artists/artist"> Joan </a></td>
      <td><a href="/parametrized/profile/artists/artist/unwatch"> X </a></td>
    </tr>
  </table>
  <a href="/parametrized/home"> Reshuffle </a>
  <a href="/parametrized/home/artists/more"> See more </a>
</div>

<div>
  <p>My liked works</p>
  <table>
    <th>
    <td>Work name</td>
    <td>Artist name</td>
    <td>Unlike</td>
    </th>
    <tr>
      <td><a href="/parametrized/profile/works/work"> Jill debut </a></td>
      <td><a href="/parametrized/profile/artists/artist"> Jill </a></td>
      <td><a href="/parametrized/profile/works/work/unlike"> X </a></td>
    </tr>
    <tr>
      <td><a href="/parametrized/profile/works/work"> Joan masterpiece </a></td>
      <td><a href="/parametrized/profile/artists/artist"> Joan </a></td>
      <td><a href="/parametrized/profile/works/work/unlike"> X </a></td>
    </tr>
  </table>
  <a href="/parametrized/home"> Reshuffle </a>
  <a href="/parametrized/home/works/more"> See more </a>
</div>


<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>