<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/index.css">
  <title><%= userName %> sand box</title>
</head>

<table>
  <th>
  <td>User name</td>
  <td>Ban</td>
  </th>
  <tr>
    <td><a href="/parametrized/profile/users/user?userID=095a719c0b977dafed9eff3e5efdfc54"> Bob </a></td>
    <td><a href="/parametrized/profile/artists/user?userID=095a719c0b977dafed9eff3e5efdfc54/ban"> X </a></td>
  </tr>
</table>

<a href="/parametrized/home"> Back home </a>
<a href="/parametrized/signout"> Sign out </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>