<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/index.css">
  <title><%= userName %> sand box</title>
</head>

<table>
  <th>
  <td>Work name</td>
  <td>Withdraw</td>
  <tr>
    <td><a href="/parametrized/profile/works/work?workID=408661a97a79ce10a01ff23f5cc64b1a"> Dream </a></td>
    <td><a href="/parametrized/profile/myworks/work?workID=408661a97a79ce10a01ff23f5cc64b1a/withdraw"> X </a></td>
  </tr>
</table>

<a href="/parametrized/home"> Back home </a>
<a href="/parametrized/signout"> Sign out </a>

<p> Signed as <%= userName %> </p>
<p> Started browsing at <%= startTime %> </p>

</html>